footer {
    background-color: rgb(40,40,40);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 0px;
    width: 100vw;
    min-width: 550px;
}

.footer-p {
    padding: 10px;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
}

.footer-a {
    color: white;
}