input {
    display: block;
    border: 1px solid white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 1rem;
    padding: 5px;

    width: 80vw;
    max-width: 900px;
}

.title {
    font-size: 1.5rem;
    font-weight: 800;
    padding-bottom: 25px;
}

.info {
    padding-bottom: 10px;
    width: auto;
}

.btn {
    background-color: rgb(40,40,40);
    border-radius: 5px;
    color: white;
    margin: 4px 0px 4px 0px;
}

.btn:hover {
    background-color: rgb(25,25,25);
}
